body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f5f7fb;
}

.course-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  padding: 20px 40px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.btn {
  background: #0056d2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
}